.header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.button{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

